<fieldset>
    <legend>Informações do Contrato</legend>
    <table>        
        
        <tr>
            <td>
                <mat-form-field>                    
                    <input   [readonly]="true"  matInput placeholder="Contrato"  [value]="contrato.proposta" >
                </mat-form-field>

            </td>

            <td>
                <mat-form-field [style.width.px]=700>
                    <input  [readonly]="true"  matInput placeholder="PROPONENTE"  [value]="contrato.cliente" >
                </mat-form-field>
            </td>

            <td>
                <mat-form-field>
                    <input  [readonly]="true"  matInput placeholder="CPF"  [value]="contrato.documento">
                </mat-form-field>
            </td>            

        </tr>

    </table>
</fieldset>
<br>

<fieldset>
    <legend>Informações do Produto</legend>

    <table cellspacing="20">
        <tr>
            <td style="border: 10;">
                <mat-form-field [style.width.px]=300>
                    <input matInput placeholder="Tipo" [value]="contrato.produto">
                </mat-form-field>
            </td>

            <td>
                <mat-form-field [style.width.px]=80>
                    <input matInput placeholder="QTDE GAVETAS"   [value]="contrato.qtdeGaveta">
                </mat-form-field>
            </td>

        </tr>
    </table>


</fieldset>
<br>

<fieldset id="FieldSet">
    <legend style="color: blue;">Endereço</legend>
    <table cellspacing="10">
        <tr>

            <td>
                <mat-form-field [style.width.px]=600>
                    <input [readonly]="true"    matInput placeholder="Rua"  [value]="contrato.endereco" >
                </mat-form-field>
            </td>

            <td>
                <mat-form-field>
                    <input  [readonly]="true" matInput placeholder="Bairro" [value]="contrato.bairro" >
                </mat-form-field>
            </td>

            <td>
                <mat-form-field [style.width.px]=300>
                    <input   [readonly]="true" matInput placeholder="Cidade" [value]="contrato.cidade" >
                </mat-form-field>
            </td>

            <td>
                <mat-form-field [style.width.px]=20>
                    <input   [readonly]="true" matInput placeholder="UF" [value]="contrato.estado" >
                </mat-form-field>
            </td>

            <td>
                <mat-form-field [style.width.px]=80>
                    <input   [readonly]="true" matInput placeholder="CEP" [value]="contrato.cep" >
                </mat-form-field>
            </td>

        </tr>
        <tr>

            <td>

                <mat-form-field [style.width.px]=30>
                    <input  [readonly]="true"  matInput placeholder="DDD">
                </mat-form-field>            

                <mat-form-field [style.width.px]=100>
                    <input  [readonly]="true"  matInput placeholder="Telefone" [value]="contrato.fone" >
                </mat-form-field>           

                <mat-form-field [style.width.px]=200>
                    <input   [readonly]="true" matInput placeholder="E-mail" [value]="contrato.email" >
                </mat-form-field>

            </td>

        </tr>

    </table>
</fieldset>

<br>

<fieldset id="FieldSet" *ngIf="existeAcordo > 0"> 

    <legend style="color: blue;">Parcelas de Acordo</legend>

    <table mat-table [dataSource]="dataSourceAcordo" matSort class="mat-elevation-z2">

        <ng-container matColumnDef="codigo">
            <th mat-header-cell *matHeaderCellDef>Código</th>
            <td mat-cell *matCellDef="let row">{{row.codigo}}</td>
        </ng-container>
    
        <ng-container matColumnDef="proposta">
            <th mat-header-cell *matHeaderCellDef>Contrato</th>
            <td mat-cell *matCellDef="let row">{{row.proposta}}</td>
        </ng-container>
    
        <ng-container matColumnDef="parcela">
            <th mat-header-cell *matHeaderCellDef>Parcela</th>
            <td mat-cell *matCellDef="let row">{{ row.parcela }}</td>
        </ng-container>
    
        <ng-container matColumnDef="vencimento">
            <th mat-header-cell *matHeaderCellDef>Vencimento</th>
            <td mat-cell *matCellDef="let row">{{ row.vencimento }}</td>
        </ng-container>
    
        <ng-container matColumnDef="valorParcela">
            <th mat-header-cell *matHeaderCellDef>Valor</th>
            <td mat-cell *matCellDef="let row">{{ row.valorParcela }}</td>
        </ng-container>
    
        <ng-container matColumnDef="nossoNumero">
            <th mat-header-cell *matHeaderCellDef>Nosso Número</th>
            <td mat-cell *matCellDef="let row">{{row.nossoNumero}}</td>
        </ng-container>
    
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Ação </th>
            <td mat-cell *matCellDef="let row" >
                 <button mat-raised-button mat-button color="primary"  (click)="gerarBoleto(row.codigo)"   >Gerar Boletos</button> </td>        
          </ng-container>    
    
        <tr mat-header-row *matHeaderRowDef="colunas"></tr>
        <tr [ngClass]="{'disabled' : row.enviado === true, erroEnvio : row.enviado === false }" mat-row
            *matRowDef="let row; columns: colunas;"></tr>    
    
    </table>

</fieldset>

<br>

<fieldset id="FieldSet">

    <legend style="color: blue;">Parcelas de Taxas</legend>


<table mat-table [dataSource]="dataSourceTaxa" matSort class="mat-elevation-z1">

    <ng-container matColumnDef="codigo">
        <th mat-header-cell *matHeaderCellDef>Código</th>
        <td mat-cell *matCellDef="let row">{{row.codigo}}</td>
    </ng-container>

    <ng-container matColumnDef="proposta">
        <th mat-header-cell *matHeaderCellDef>Contrato</th>
        <td mat-cell *matCellDef="let row">{{row.proposta}}</td>
    </ng-container>

    <ng-container matColumnDef="parcela">
        <th mat-header-cell *matHeaderCellDef>Parcela</th>
        <td mat-cell *matCellDef="let row">{{ row.parcela }}</td>
    </ng-container>

    <ng-container matColumnDef="vencimento">
        <th mat-header-cell *matHeaderCellDef>Vencimento</th>
        <td mat-cell *matCellDef="let row">{{ row.vencimento }}</td>
    </ng-container>

    <ng-container matColumnDef="valorParcela">
        <th mat-header-cell *matHeaderCellDef>Valor</th>
        <td mat-cell *matCellDef="let row">{{ row.valorParcela }}</td>
    </ng-container>

    <ng-container matColumnDef="nossoNumero">
        <th mat-header-cell *matHeaderCellDef>Nosso Número</th>
        <td mat-cell *matCellDef="let row">{{row.nossoNumero}}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Ação </th>
        <td mat-cell *matCellDef="let row" >
             <button mat-raised-button mat-button color="primary" [disabled]="canSend(row.sequencia)"  (click)="gerarBoleto(row.codigo)"   >Gerar Boletos</button> </td>        
      </ng-container>


    <tr mat-header-row *matHeaderRowDef="colunas"></tr>
    <tr [ngClass]="{'disabled' : row.enviado === true, erroEnvio : row.enviado === false }" mat-row
        *matRowDef="let row; columns: colunas;"></tr>


</table>

</fieldset>

